#root {
  font-style: Helvetica;
  width: 100%;
  height:100vh;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  outline: 10px red dotted;
}

